<header-dr></header-dr>

<div class="container">
  <h1>Web Page Emulator</h1>
  <hr>
  <div class="row justify">
    <div class="eight columns">
      <p>
        A couple years ago I worked for a company whose application was a third party javascript library living on our clients' e-commerce websites. 
      </p>
      <p>
        Often times, the client's business owners needed to see our product working on their web page before their team had integrated our javascript. For a lot of websites, you could grab their source code and serve it up static, faking their site. Then you could integrate our code, design our app to match their styles, and demo it to the client.
      </p>
      <p>
        I built a tool for the quick saving, editing, and serving up of a client's webpage. We ended up using it on a large number of launches. It doesn't work well when there are other 3rd party resources, and for actual  debugging we'd use tools like Charles Proxy, but it was a quick way to show clients our product on their site.  
      </p>
      <a class="button button-default" href="#/demo">Try demo</a>
      <a class="button button-default" href="https://github.com/tablesdata/demoemulator">View project on github</a>
    </div>
  </div>
</div>